<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5><span class="iconify" data-icon="carbon:data-table" id="listeicon"></span> LISTE DES PRODUITS</h5>
        </div>
        <div class="card-body">
          <div class="row" id="rowbeforetable">
            <div class="col-md-3">
              <input type="text" class="form-control search-field" placeholder="Rechercher un élément"
                [(ngModel)]="searchText" id="searchinput">
            </div>
            <div class="col-md-9">
              <a routerLink='/products/physical/add-product'><button type="button" class="btn btn-primary"
                  id="btnajoutproduit"><span class="iconify" data-icon="carbon:add-alt" id="iconAdd"></span> Ajouter
                  produit</button></a>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix ( Fcfa )</th>
                <th scope="col">Categorie</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produit of pageOfItems; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <img src="https://api-kamfish.mohamedbadiane.com/api/product_display_image/{{ produit.image }}"
                    class="me-2" id="imgProduit">
                </td>
                <td>
                  <ngb-highlight [result]="produit.name | titlecase "></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="produit.price | number"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="produit.category.name"></ngb-highlight>
                </td>
                <td>
                  <a data-target="#exampleModal1" (click)="modifypopup(content1, produit)" title="Modifier"><span
                      class="iconify" data-icon="fa6-regular:pen-to-square" id="updateIcon"></span></a>&nbsp;
                  <a data-target="#exampleModal" (click)="deletepopup(content, produit.id)" title="Supprimer"><span
                      class="iconify" data-icon="fluent:delete-12-regular" id="deleteIcon"></span></a>&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
          <div style="float:right">
            <p style='text-align:center'>
              <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container-fluid Ends-->


<!--modal delete-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title f-w-600" id="exampleModalLabel"><span class="iconify" data-icon="ic:outline-cancel"
        id="iconAdd"></span> SUPPRESSION PRODUIT</h5>
    <!--a id="btnfermer" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true" id="closeicon">&times;</span>
      </a-->
  </div>
  <div class="modal-body">
    <form class="needs-validation">
      <div class="row">
        <div class="col">

        </div>
      </div>
      <div class="form">
        <div class="form-group" *ngIf="isvisible">
          <p>Voulez vous supprimer ce produit ?</p>
        </div>
        <div class="form-group" *ngIf="!isvisible">
          <p *ngIf="msgsuccessdel" id="msgsuccess">{{ msgsuccessdel }}</p>
          <p *ngIf="msgerrordel" id="msgerror">{{ msgerrordel }}</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" *ngIf="isvisible">
    <button type="button" class="btn btn-primary" id="btnsave" (click)="applyDelete(idDel)"><span class="iconify"
        data-icon="akar-icons:check-box"></span> Oui</button>
    <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="modal.dismiss('Cross click')"
      id="btnclose"><span class="iconify" data-icon="ic:outline-cancel"></span> Non</button>
  </div>
  <div class="modal-footer" *ngIf="!isvisible">
    <button type="button" class="btn btn-primary" id="btnclose" (click)="modal.dismiss('Cross click')"><span
        class="iconify" data-icon="akar-icons:check-box"></span> OK</button>
  </div>
</ng-template>
<!--modal delete-->


<!--modal update-->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h5 class="modal-title f-w-600" id="exampleModalLabel"><span class="iconify" data-icon="ic:outline-cancel"
        id="iconAdd"></span> MODIFICATION PRODUIT</h5>
    <!--a id="btnfermer" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true" id="closeicon">&times;</span>
      </a-->
  </div>
  <div class="modal-body">
    <form class="needs-validation">
      <div class="row">
        <div class="col">
          <p *ngIf="msgerrormodif" id="msgerror">{{ msgerrormodif }}</p>
        </div>
      </div>
      <div class="form" *ngIf="inputModif">
        <div class="row">
          <div class="col form-group" *ngIf="isvisible">
            <label>Image</label>
            <input (change)="fileChange($event)" type="file" name="file" class="form-control" id="custominput">
          </div>
          <div class="col form-group" *ngIf="isvisible">
            <label>Nom produit</label>
            <input type="text" class="form-control" id="custominput" name="nom_produit" [(ngModel)]="inputModif.name">
          </div>
        </div>
        <div class="row">
          <div class="col form-group" *ngIf="isvisible">
            <label>Prix</label>
            <input type="number" class="form-control" id="custominput" name="prix" [(ngModel)]="inputModif.price">
          </div>
          <div class="col form-group" *ngIf="isvisible">
            <label>Catégorie</label>
            <select class="form-control" id="custominput" name="categorie" (change)="selectChangeHandler($event)">
              <option disabled value="{{ category_select_id }}" [selected]=true>{{ category_select }}</option>
              <option *ngFor="let categorie of listcategorie" value="{{ categorie.id }}">{{ categorie.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group" *ngIf="isvisible">
          <label>Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"
            [(ngModel)]="inputModif.description"></textarea>
        </div>
        <div class="form-group" *ngIf="!isvisible">
          <p *ngIf="msgsuccessmodif" id="msgsuccess">{{ msgsuccessmodif }}</p>
          <p *ngIf="msgerrormodif" id="msgerror">{{ msgerrormodif }}</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" *ngIf="isvisible">
    <button type="button" class="btn btn-primary" id="btnclose"
      (click)="modifProduit(inputModif.name, inputModif.image, inputModif.price, inputModif.categorie, inputModif.description, inputModif.id)"><span
        class="iconify" data-icon="akar-icons:check-box"></span> Valider</button>
    <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="modal.dismiss('Cross click')"
      id="btnsave"><span class="iconify" data-icon="ic:outline-cancel"></span> Annuler</button>
  </div>
  <div class="modal-footer" *ngIf="!isvisible">
    <button type="button" class="btn btn-primary" id="btnclose" (click)="modal.dismiss('Cross click')"><span
        class="iconify" data-icon="akar-icons:check-box"></span> OK</button>
  </div>
</ng-template>
<!--modal update-->

<ngx-spinner bdColor="rgba(0,0,0,0.7)" size="medium" color="#fff" type="">

  <p id="loadingcadre">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="iconloading"></span><br />
    Loading...
  </p>
</ngx-spinner>