/* You can add global styles to this file, and also import other style files */

body{
    font-family: "Poppins",sans-serif!important;
}

.btn-primary {
    background-color: #279DD3 !important;
    border-color: #279DD3 !important;
}

.page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu .sidebar-header {
    color:#3B4047;
}
